.header-first-row{
    width: 100%;
    height: 38px;
    color: #696b6f;
    border-bottom: 2px solid #e8e8eb;
}
.header-inside1{
    position: relative;
    background-color: red;
    width: 80%;
    height: 38px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px auto ;
}

.header-inside2{
    padding: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: violet;
    width: 1165px;
    height: 14px;
}
.hed-disp1{
    display: flex;
    color: #87888a;
    margin-right: -28px;
    width: 370px;
    height: 38px;
    background-color: green;
}
a{
    text-decoration: none;
    color: #87888a;
}
.formebtn{
    font-display: swap;
    font-family: TondoBold, sans-serif;
    cursor: inherit;
    color: #e90000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    padding: 12px 8px;
    text-transform: uppercase;
    width: 100%;
    height: 3px;
    background: #eb4f4f;
    top: 0;
    left: 0;
    display: block;
    position: relative;
    margin-right: 24px;
}

.formybusibtn{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    font-family: TondoBold, sans-serif;
    cursor: inherit;
    display: block;
    position: relative;
    margin-right: 24px;
    padding: 12px 8px;
    text-transform: uppercase;
    color: #87888a;
}
.forinvestors{
    cursor: inherit;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    white-space: nowrap;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    font-family: TondoBold, sans-serif;
    display: block;
    position: relative;
    margin-right: 24px;
    padding: 12px 8px;
    text-transform: uppercase;
    color: #87888a;

}

/*no color*/
.hed-dip2{
    position: relative;
    display: block;
    background-color: orange;
    width: 140px;
    height: 36px;
}

.inside1-hed-dp2{
    
    padding: 8px;
    display: flex;
    align-items: center;
    
    cursor: pointer;
    color: #292c31;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    outline: none;
}
.label1{
    align-items: center;
    color: #ff4949;
}
.label1-inside1{
    display: flex;
    line-height: 16px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
   box-sizing: border-box;
    outline: none;
    color: #ff4949;
    font-family: Tondo, sans-serif;
    letter-spacing: -0.005em;
    white-space: nowrap;
    padding: 8px;
}
#op{
    color: red;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 2px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: #f0f1f4;
}
ul li:hover ul.dropdown{
    display: block;
}
/*
outer label


inside label


    



    
   
   
*/